/* eslint-disable vue/valid-v-for */
/* eslint-disable no-unused-vars */
<template>
  <div id="app" class="container">
    <h1>Welcome to API</h1>

    <div>
     <!-- <button class="getbtn" v-on:click="getapi(query)">GET API</button>
      <input type="text" placeholder="type here" />-->
      <ul>
      <li v-for="post in posts" :key="post.title">
      </li>
      </ul>
    </div>
    <div v-if="results">
      <div v-for="result in results" :key="result.image">
        <img v-bind:src="result.links[0].href" />
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "api",
  data() {
    return {
      query: "",
      results: "",
      posts: ""
    };
  },
  methods: {
   /* getapi(query) {
            axios
        .get(
          "https://images-api.nasa.gov/search?q=" + query + "&media_type=image"
        )
        // eslint-disable-next-line no-console
        .then(response => {console.log(response.data.collection.items);
        });
      // eslint-disable-next-line no-undef
      this.results = response.data.collection.items;
    }*/
  },
  mounted: function(){
    axios.get('https://jsonplaceholder.typicode.com/posts')
    // eslint-disable-next-line no-console
    .then(response => {this.posts = response.data});
    
  }
};
</script>

<style scoped>
.getbtn {
  color: aliceblue;
  background-color: blue;
}
</style>
