<template>
  <div class="hello">
    <h1>Welcome to Helloworld</h1>
    <div>
    <form @submit.prevent="add" >
    <input type="text" placeholder="type the content to be get added" v-model="newitem"/>
     <button type="submit">add</button>
    </form>
       
         <items :item="Lists"></items>
        
    </div>
  </div>
</template>

<script>
import items from './items'

export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  components:{items},
  data() {
            return{
                Lists: [
                {'name': 'maya'},
                {'name': 'Jp'},
                {'name': 'Netu'},
                {'name': 'Neha'},
                {'name': 'Vue'},
                {'name': 'js'}
               ],
               newitem: "",
               
              }
          },
          methods: {
            
            add(){
              this.Lists.push({'name': this.newitem});
              this.newitem = "";
            }
          },
          created(){
             // eslint-disable-next-line no-undef
             EventBus.$on('itemRemove',(index) => {
            this.Lists.splice(index,1);
             })
          }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
