<template>
  <div>
    <ul>
      <li v-for="(items,index) in item" :key="items.name">
        {{items.name}}
        <button @click="remove(index)">X</button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: ["item"],
  methods: {
    remove(index) {
      // eslint-disable-next-line no-undef
      EventBus.$emit("itemRemove", index);
    }
  }
};
</script>
