<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <h1>Welcome</h1>
    <hr>
         <div>
                  <router-link to="/">Home</router-link>&nbsp;
                  <router-link to="/api">API</router-link>&nbsp;
              <router-link to="/HelloWorld">Helloworld</router-link>
              <hr>
               <router-view />
         </div>
             
  </div>
     
</template>

<script>
//import HelloWorld from './components/HelloWorld.vue'

export default {
  name: 'app',
  /*components: {
    HelloWorld
  }*/
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  
  margin-top: 60px;
}
</style>
